<div class="container">
    <h1></h1>
    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
        <h4 ng-hide>{{alertMessage}}</h4>
    </div>
    <div class="alert-info calAlert" ng-show="chosenEvent != undefined && chosenEvent != ''">
        <h4 ng-hide><strong>ID</strong>: {{chosenEvent.id}}</h4>
        <h4 ng-hide><strong>Title</strong>: {{chosenEvent.title}}</h4>
        <h4 ng-hide><strong>Due Date</strong>: {{chosenEvent.start}}</h4>
        <h4 ng-hide><strong>Requestor</strong>: {{chosenEvent.requestor}}</h4>
    </div>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="changeView('agendaDay', 'mainCalendar')">Day</button>
            <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'mainCalendar')">Week</button>
            <button class="btn btn-primary" ng-click="changeView('month', 'mainCalendar')">Month</button>
        </div>
    </div>
    <div ng-model="eventSources" ui-calendar="uiConfig.calendar" calendar="mainCalendar"></div>
    <form ng-submit="addEvent()" class="add-event">
        <center><h2>New Event</h2></center>
        <table>
            <tr>
                <td><label>Release Title</label></td>
                <td><input type="text" name="txtNewEventTitle" ng-model="newEventTitle"></td>
            </tr>
            <tr>
                <td><label>Requestor</label></td>
                <td><input type="text" name="txtNewEventRequestor" ng-model="newEventRequestor"></td>
            </tr>
            <tr>
                <td><label>Due Date</label></td>
                <td><input type="text" name="txtNewEventDueDate" ng-model="newEventDueDate"></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Add Event">
    </form>
</div>